* {
    box-sizing: border-box;
}
span {
    color: rgb(252, 191, 242);
    font-size: 30px;
    font-family: 'Lucida Sans';
    display: flex;
    margin: 10px;
}

.Form-name {
    font-size: 5px;
    color: white;
}

article {
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans';
    display: flexbox;
    flex-wrap: wrap;
    text-align: center;
    border: 3px solid #737495;
    border-radius: 0;
    padding: 0.5rem;
    outline: none;
    -webkit-appearance: none;
}

section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
  section > article {
    display: flex;
    justify-content: space-between;
    min-width: 17.25rem;
    color: white;
    margin: 0.1rem;
    background-color: #737495;
  }
    
  article > div {
    padding: 0.5rem;
    flex-direction: column;
    display: flex;
  }
  

  input, select {
    width: 100%;
    font-family: 'Lucida Sans';
    font-size: 15px;
    font-weight: bold;
    color: #f17d80;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
  }
    
  article {
      display: flex;
      color: white;
      font-size: 15px;
      background-color: #737495;
      border: 2px solid black;
      padding: .75rem;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
  }

  article > div {
      padding: 1rem;
}
